*
{
    margin:0px;
    padding:0px;
}
.container-fluid
{
    height:10vh;
    background-color: white;
}
.elfsight
{
   width:20vw;
}
.messaging
{
    width:5vw;
    margin-left:97px;
    margin-top:30px;
}