*
{
    margin:0px;
    padding:0px;
}
.container-fluid
{
    height:10vh;
    background-color: white;
}
.elfsight
{
   width:20vw;
}
.messaging
{
    width:5vw;
}
li
{
    display: inline-block;
    margin:0 15px;
}
.second-overview-rectangle
{
    background-image:linear-gradient(to right, rgb(238, 32, 238)25%,rgba(200, 33, 94, 0.961),rgba(200, 33, 94, 0.961),rgba(200, 33, 94, 0.961),rgba(255, 166, 0, 0.961));
    width:100vw;
    height:50vh;
}
.First-part
{
    height:70px;
}
.Frequently-asked-question
{
   height:85%;
}
.parts
{
    height:15%;
}
.login
{
    text-decoration: none;
    color:black;
}
.btn
{
    margin-right:300px;
}
.container
{
    padding-top:90px;
    padding-bottom:80px;
    
}
